@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.fc .fc-toolbar > * {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fc .fc-toolbar .fc-center {
  order: -1; /* 将中心部分移动到左侧 */
}

.fc-header-toolbar {
  display: flex;
  justify-content: space-between;
}

/* 周末颜色 */
.fc .fc-sun {
  color: #337ab7;
  border-color: black;
  background-color: #ffa58c;
}

/* header tool bar color */

.fc .fc-toolbar-title {
  color: #337ab7;
}
/* .fc .fc-button-primary {
  background-color: #337ab7;
  color: #acaba9;
  border: none;
  outline: none;
}
.fc .fc-today-button {
  background-color: #337ab7;
  color: #37362f;
  border: none;
  outline: none;
}
.fc .fc-button-primary:not(:disabled):active,
.fc .fc-button-primary:not(:disabled).fc-button-active {
  background-color: #337ab7;
  color: #acaba9;
  box-shadow: none;
}
.fc .fc-button-primary:not(:disabled):focus,
.fc .fc-button-primary:not(:disabled).fc-button-focus {
  background-color: #337ab7;
  color: #acaba9;
  box-shadow: none;
}
.fc .fc-today-button:disabled {
  opacity: 1;
} */
