@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.fc .fc-toolbar > * {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fc .fc-toolbar .fc-center {
  order: -1; /* 将中心部分移动到左侧 */
}

.fc-header-toolbar {
  display: flex;
  justify-content: space-between;
}

/* header tool bar color */

.fc .fc-toolbar-title {
  color: #337ab7;
}
/* .fc .fc-button-primary {
  background-color: #337ab7;
  color: #acaba9;
  border: none;
  outline: none;
}
.fc .fc-today-button {
  background-color: #337ab7;
  color: #37362f;
  border: none;
  outline: none;
}
.fc .fc-button-primary:not(:disabled):active,
.fc .fc-button-primary:not(:disabled).fc-button-active {
  background-color: #337ab7;
  color: #acaba9;
  box-shadow: none;
}
.fc .fc-button-primary:not(:disabled):focus,
.fc .fc-button-primary:not(:disabled).fc-button-focus {
  background-color: #337ab7;
  color: #acaba9;
  box-shadow: none;
}
.fc .fc-today-button:disabled {
  opacity: 1;
} */

/* // 各日のヘッダー背景色
.fc-daygrid-day-top {
  background-color: #337ab7;
}
// 本日のヘッダー背景色
.fc-day-today .fc-daygrid-day-top {
  background-color: #fddcab;
}
// 各日のイベント背景色
.fc-daygrid-day-frame {
  background-color: #337ab7;
}
// 曜日ヘッダーと各日の変な隙間を消す
table.fc-scrollgrid-sync-table {
  margin: 0 0 20px 0;
}
// 曜日ヘッダーの変な隙間を消す
table.fc-col-header {
  margin: 0;
}
// 土曜日のヘッダー背景色
.fc .fc-day-sat {
  background-color: #337ab7 !important;
}
// 日曜日のヘッダー背景色
.fc .fc-day-sun {
  background-color: #337ab7 !important;
}
// ツールバー内の日付を他の h2 より小さくしたかった
.fc .fc-toolbar-title {
  font-size: 1.5em;
  padding: 5px 10px 0px;
} */

/* 自定义滚动条的宽度和轨道颜色 */
.project-scrollbar::-webkit-scrollbar {
  width: 2px; /* 调整滚动条的宽度 */
}

/* 自定义滚动条的滑块 */
.project-scrollbar::-webkit-scrollbar-thumb {
  background: #a0aec0; /* 滑块颜色 */
  border-radius: 2px;
}

/* 滚动条滑块在hover时的样式 */
.project-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #718096; /* 滑块hover颜色 */
}



/* d3.js  */
.node__root > circle {
  fill: red;
}

.node__branch > circle {
  fill: yellow;
}

.node__leaf > circle {
  fill: green;
  /* Let's also make the radius of leaf nodes larger */
  r: 40;
}

.btn {
  padding: 0.5em;
  border: none;
}
